<% breadcrumb :user_show %>
<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
  <%if @user.deleted_at == nil %>
    <h2 class="name">Profile</h2>
  <% else %>
    <h2 class="name">※退会済みユーザーです</h2>
  <% end %>
    <div class="item-img-content">
      <% if @user.image.attached? %>
        <%= image_tag @user.image,class:"item-box-img" %>
      <% else %>
        <%= image_tag 'item-sample.png' ,class:"item-box-img" %>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @user.name %>
      </span>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">自己紹介</th>
          <% if @user.introduce != nil %>
          <td class="detail-value"><%= @user.introduce %></td>
          <% else %>
          <td class="detail-value"><%= "" %></td>
          <% end %>
        </tr>
        
      </tbody>
    </table>

    <div class="item-box">
      <h2 class="user-items">
        <%= @user.name %>さんの出品一覧
      </h2>
    </div>

    

    
    <div class="item-contents">
      <ul class="item-lists">
      <% if @items.any? %>
        <% @items.each do |item| %>
          <% if @user.id == item.user_id %>
            <li class='list'>
              <%= link_to item_path(item.id), method: :get do %>
                <div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>
          
                <% if item.order != nil %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>

                </div>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= item.item %>
                  </h3>
                  <div class='item-price'>
                   <span><%= item.price %>円<br><%= item.shipping.name %></span>
                   <div class='star-btn'>
                      <%= image_tag "star.png", class:"star-icon" %>
                      <span class='star-count'>0</span>
                   </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% else %>
            <li class='list'>
              <%= link_to dummy_item_index_path do %>
              <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  出品中の商品はありません
               </h3>
               <div class='item-price'>
                  <span>サンプル画像</span>
                 <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                     <span class='star-count'>0</span>
                  </div>
               </div>
              </div>
              <% end %>
           </li>
      <% end %>
      </ul>
    </div>

  <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
      <%= link_to "プロフィール編集", edit_user_registration_path(current_user), method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "退会する",  user_delete_path(current_user), class:"item-destroy" %>
    <div class="item-explain-box">
      <span><%= "※退会手続きページへ移行します" %></span>
    </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.id != @user.id && @user.deleted_at == nil %>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>フォローする</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>ユーザーの通報</span>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>

